.product-cards--container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
}

